body {
    margin: 0;
    font-family: sans-serif;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    /* background-image: url('/assets/04.jpg'); */
    background-image: url(https://i.imgur.com/mY7IdGe.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-animation: blur 5s;
    transition: ease-in 5s;
}


@-webkit-keyframes blur {

    0% {
        -webkit-filter: blur(10px);
    }

    100% {
        -webkit-filter: blur(0px);
    }

}

.hero-text {
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    display: flex;
    transition: ease-in 10s;
}


.hero-text h1 {
    font-size: 5em;

    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero-text .btn {
    display: block;
    width: 200px;

    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    text-decoration: none;
    font-size: 1.5em;

    border: 3px solid white;
    border-radius: 20px;
}