@font-face {
    font-family: 'Oasis';
    src: url(OASIS400.ttf);
}


html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}



body {
    margin: 0;
    font-family: 'Oasis', sans-serif;
    font-weight: 400;
    /* overflow: hidden; */
    background-color: black;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

#bg {
    position: relative;
    background-image: url('04.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    -webkit-animation: blur 3s;
}

@-webkit-keyframes blur {

    0% {
        -webkit-filter: blur(10px);
    }

    100% {
        -webkit-filter: blur(0px);
    }
}

@-webkit-keyframes moveTop {

    0% {
        -webkit-transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes moveRight {

    0% {
        -webkit-transform: translateX(300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}


@-webkit-keyframes moveLeft {

    0% {
        -webkit-transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}


.hero-text {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.hero-title {
    font-size: 8vw;
    line-height: 0.8em;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 60%;
    left: 10px;
    top: 10px;
    opacity: 0;
    -webkit-animation: moveTop 0.5s forwards;
    -webkit-animation-delay: 2s;
}

.hero-desc {
    position: absolute;
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.4);
    bottom: 10px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    -webkit-animation: blur 6s;
}

.hero-menu {
    display: block;
    width: 300px;
    padding: 1em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0;
    -webkit-animation: moveRight 0.5s forwards;
    -webkit-animation-delay: 2.5s;
}

.menu-item {
    color: white;
    text-decoration: none;
}

.hero-menu {
    position: absolute;
    right: 5vw;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: flex-end;
}

.menu-item {
    color: black;
    font-size: 3vw;
    line-height: 1.3em;
    transition: 0.5s ease;
}

#timer {
    font-size: 2.9vw;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.2);
}

#reserve-button {
    margin-top: 20px;
    background-color: #222;
    color: white;
    width: 16vw;
    padding: 0px 10px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

}

.menu-item:nth-child(4) {
    border-top: 5px black solid
}

.hero-menu a:hover {
    color: darkred;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

}

#reserve-button:hover {
    background-color: darkred;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    margin-right: 1px;
    margin-top: 21spx;
}



#bio,
#blog,
#contact {
    min-height: 100vh;
}

#bio {
    background-color: darkcyan;
}

#blog {
    background-color: lightslategray;
}

#contact {
    background-color: lightsteelblue;
}

.section-title {
    font-size: 8vw;
    width: 100%;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20vw;
}

.section-content {
    font-family: 'Lato';
    /* padding: 0px 5vw; */
    text-align: justify;
    font-size: 20px;
}


#heroku {
    color: white;
    position: absolute;
    bottom: 15vh;
    width: 100%;
}

#heroku:hover {
    color: darkred;
}

.chevron {
    padding: 15px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.5s ease;
    opacity: 0.8;
}

.chevron:hover {
    color: darkred;

}

.chevron:first-child {
    position: absolute;
    bottom: 15vh;
    color: white;
    opacity: 0.5;
}


.chevron::before {
    border-style: solid;
    border-width: 0.5em 0.5em 0 0;
    content: '';
    display: inline-block;
    height: 0.9em;
    left: 0.3em;
    position: relative;
    top: 0.3em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.90em;

}

.chevron.down:before {
    transform: rotate(135deg);
}



@media screen and (max-width: 1024px) {
    .hero-title {
        width: 100%;
        text-align: center;
        top: 5vh;

    }

    .hero-menu {
        align-items: flex-start;
        left: 5vw;
        margin-top: 30vh;
        margin-left: 0px;
        opacity: 0;
        -webkit-animation: moveLeft 0.5s forwards;
        -webkit-animation-delay: 2.5s;
    }

    .menu-item {
        font-size: 5vw;
    }

    #timer {
        font-size: 4.9vw;
    }

    #reserve-button {
        width: 26vw;
    }


}